@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -ms-overflow-style: none;
  scrollbar-width: none;
  @apply bg-slate-800 text-threeDs-lightYellow;
}

::-webkit-scrollbar {
  display: none;
}
